.fa {
  margin: 0;
}


/* navigation bar */

.nav-item {
  display: none !important;
}

bslib-input-dark-mode {
  position: fixed;
  top: 0.9rem;
  left: 14.25rem;
}

#close_app {
  position: fixed;
  top: 0.55rem;
  right: 0.9rem;
  width: fit-content;
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.4rem;
}


/* sidebar */

.sidebar-content {
  min-height: 100%;
  padding-top: 1rem !important;
}

.action-button {
  --bs-btn-padding-x: 0;
}

.refresh-button {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 0.12rem;
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  border: none;
}

.refresh-button:hover {
  background-color: transparent;
  color: unset;
}

.selectize-row {
  align-items: flex-end;
  margin-bottom: -1rem;
}

.selectize-label {
  margin: 0;
}

#edit_streaming {
  margin-top: -1rem;
}

#edit_preprocessing, #edit_batch {
  margin-top: -2rem;
}

.form-switch:has(#with_preprocessing) {
  margin-top: -1.5rem;
}

.form-switch:has(#with_batch) {
  margin-top: -0.5rem;
}

.flex-divider {
  flex: 1;
}

#run_experiment {
  margin-top: -1rem;
  margin-bottom: -0.25rem;
}


/* main content */

table {
  --shiny-datagrid-grid-header-bgcolor: var(--bs-body-bg) !important;
  --shiny-datagrid-grid-body-hover-bgcolor: var(--bs-body-bg) !important;
}

#node_rank_order-label, #node_rank_cardinality-label {
	padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-top: 0;
	margin-bottom: 0;
	color: var(--bs-card-cap-color);
	background-color: var(--bs-card-cap-bg);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.shiny-input-select {
  padding: 0 var(--bs-card-cap-padding-x);
}

.selectize-dropdown {
  padding: unset;
  width: calc(100% - 2 * var(--bs-card-cap-padding-x)) !important;
}

.shiny-input-number {
  margin-left: var(--bs-card-cap-padding-x);
  width: calc(100% - 2 * var(--bs-card-cap-padding-x));
}

#metrics_with_batch .bslib-gap-spacing {
  gap: 0 !important;
}

#metrics_no_batch .bslib-gap-spacing {
  gap: 0.5rem !important;
}

.value-box-row {
  margin-bottom: -0.8rem;
}

.value-box-row .card-body {
  padding: 0 !important;
}

.value-box-area {
  padding: 1.25rem 1rem !important;
}
