/* :root {
  --bslib-sidebar-main-bg: #f8f8f8;
}

.popover {
  --bs-popover-header-bg: #222;
  --bs-popover-header-color: #fff;
}

.popover .btn-close {
  filter: var(--bs-btn-close-white-filter);
} */

thead {
  --shiny-datagrid-grid-header-bgcolor: var(--bs-body-bg) !important;
}

.sidebar-content {
  position: relative;
  top: -2.225rem;
}

bslib-input-dark-mode {
  position: fixed;
  left: 15rem;
  top: 4.15rem;
}

.refresh-button {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 0.12rem;
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
}

.fa {
  margin: 0;
}

.selectize-row {
  align-items: flex-end;
  margin-bottom: -1rem;
}

.selectize-label {
  margin: 0;
}
